.MuiToolbar-root-40 > a > h6{
  color: white;
}

.MuiButton-label-99{
  color: white;
}
.ant-col-8 {
  background-color:rgb(58, 30, 145);
  height: 100vh;
  z-index: -1;
  margin:0;
  position: fixed;
  margin: 0 auto;
}
.intro-section:before{
  background-color: white;
}
.mb-5{
  color: black;
  padding: 0;
  margin: 0;
  height: 10vh;
}
.intro-section p {
color: black;
}
.intro-section h1{
  color: black;
}
.row align-items-center{
  padding: 0;
  margin: 0;
}
.col-lg-4 mr-auto{
  padding: 20vh;
}